.wrapper-box{
  margin-top: 5%;
  overflow-x: hidden !important;

  label {
    margin-bottom: 1.5rem;
  }
  img {
    margin: 20px auto;
  }
  .var {
    margin: 5px;
  }
}
.container {
  margin-bottom: 40px;
}
